<h2>Create a new Entry: </h2>

<form class="" action="/habit_entries" method="post">
    <label for="habit_content">Content:</label>
    <input type="text" name="habit_content" value="">
    <input type="submit" name="" value="Create Entry">
</form> 