SHOW PAGE FOR A HABIT ENTRY

<p><%= @habit_entry.habit_content %></p>

<% if authorized_to_edit?(habit_entry) %>
    <a href="/habit_entries/<%= @journal_entry.id %>/edit">Edit Entry</a>

    Delete Link  
    <a href="/habit_entries/<%= @journal_entry.id %>/delete">Delete Entry</a>
<% end %>