SHOW PAGE FOR A HABIT ENTRY

<p><%= @habit_entry.habit_content %></p>

Edit Link
<a href="/habit_entries/<%= @journal_entry.id %>/edit">Edit Entry</a>

Delete Link  
<a href="/habit_entries/<%= @journal_entry.id %>/delete">Delete Entry</a>