<h2><%= @user.name %>'s Habit Page</h2>
#begin with a generic welcome page

<h3>Date: Habit List </h3>
<h3>Date: Habit List </h3>
<h3>Date: Habit List </h3>
#move this to index page; dynamicly query the DB for all the entries that belong to the User and loop over them to generate the html for each one.



<h4><%= @user.email %></h4>

