<h2>Sign Up!</h2>

<form class="" action="/users" method="post">
  
    <h6>Name:</h6><input type="text" name="name" value="">
    <h6>Email:</h6><input type="text" name="email" value="">
    <h6>Password:</h6><input type="text" name="password" value="">
    <input type="submit" name="" value="Create User">
</form>

